.SCOM {
  width: 800px;
  height: 800px;
  padding: 20px;
  overflow: hidden;
  border: 13px solid;
  font: normal 13px/30 "Lucida Console", Monaco, monospace;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #8c8c8c;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}





